@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black: #121212;
  --white: #ffffff;
  --grey1: #1a1a1a;
  --grey2: #292929;
  --grey3: #333333;
  --white-shadow: rgba(255,255,255,0.1);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto;
  background-color: var(--black);
  color: var(--white);
}

#main {
  padding: 3rem;
}

.container {
  width: 80%;
  margin: auto;
} 

.container > * {
  padding-top: 3rem;
}

/* Input Section */
.input-section {
  grid-column: 1/4;
  background-color: var(--grey1);
  box-shadow: -1px -1px 1px var(--white-shadow),
              1px 1px 1px 1px black;
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.input-section *{
  margin: 0.5rem 0;
}

.input {
  background-color: var(--white);
  padding: 0.5rem;
  margin-right: 1rem;
}

.div-text {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.87;
}

/* Episode Cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
}

.card {
  background-color: var(--grey1);
  text-align: center;
  box-shadow: -1px -1px 1px 0.8px var(--white-shadow),
              1px 1px 1px 1px black;
  border-radius: 5px;
}

.card .name-div {
  padding: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey1);
}

.card h3 {
  font-size: 1.2rem;
}

.card img {
  display: block;
  margin: auto;
  width: 100%;
}

.card p {
  padding: 2rem;
  opacity: 0.87;
  font-size: 0.8rem;
}

/* Show Cards */
.show-card {
  grid-column: 1/4;
  background-color: var(--grey1);
  text-align: center;
  box-shadow: -1px -1px 1px 0.8px var(--white-shadow),
              1px 1px 1px 1px black;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 1.5fr 1.3fr;
  gap: 1rem;
}

/* .show-card:hover {
  box-shadow: inset -2px -2px 1px var(--white-shadow),
              inset 4px 4px 1px var(--black);
} */

.show-name-div {
  display: block;
  grid-column: 1/4;
  margin: 1rem;
  font-size: 3rem;
  display: flex;
  align-items: flex-start;
}

.show-card img {
  display: block;
  margin: 1rem;
  border-radius: 5px;
}

.summary-div {
  margin: 1rem;
}

.show-info-div {
  background-color: var(--grey2);
  box-shadow: -1px -1px 1px 0.8px var(--white-shadow),
              1px 1px 1px black;
  border-radius: 5px;            
  margin: 1rem;
}

.show-info-div ul{
  list-style-type: none;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.show-info-div ul li{
  margin: 1rem 0;
  display: flex;
  align-items: flex-start;
}

/* Footer */
footer {
  color: var(--grey3);
  grid-column: 1/3;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

/* Hide Styling */
.on-show-hide {
  display: none;
}

.on-episode-hide {
  display: none;
}

/* Breakpoint */
@media only screen and (max-width: 1000px) {
  .show-card *{
    grid-column: 1/4;
  }
}

@media only screen and (max-width: 769px) {
  .container {
    font-size: 0.8rem;
  }
  .input-section {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 476px) {
  /* .main {
    padding: 0;
  } */
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .show-card {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .container {
    font-size: 0.8rem;
    width: 100%;
  }
  .input-section {
    font-size: 0.2rem;
  }
}